body, html {
  margin: 0;
  padding: 0; }

.d-none {
  display: none; }

a {
  text-decoration: none;
  color: black; }

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  width: 100%;
  height: 60px; }
  .navigation__left {
    display: flex;
    align-items: center; }
  .navigation__right {
    display: flex;
    align-items: center; }
    @media (max-width: 700px) {
      .navigation__right {
        display: none; } }

.mobile-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px; }
  .mobile-nav:hover {
    cursor: pointer; }
  @media (min-width: 701px) {
    .mobile-nav {
      display: none; } }

.mobile-menu {
  height: 100px;
  width: 200px;
  right: 0px;
  background-color: white;
  position: absolute;
  top: 60px;
  -webkit-box-shadow: -1px 2px 6px -1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -1px 2px 6px -1px rgba(0, 0, 0, 0.05);
  box-shadow: -1px 2px 6px -1px rgba(0, 0, 0, 0.05); }
  .mobile-menu a {
    line-height: 32px; }
  @media (min-width: 701px) {
    .mobile-menu {
      display: none; } }

.logo-bg {
  height: 60px;
  width: 60px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center; }
  .logo-bg img {
    height: 10px; }

.site-title {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: .5px;
  margin-left: 22px;
  margin-right: 22px; }

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 100px; }

.page-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 22px; }
  @media (max-width: 700px) {
    .page-title {
      font-size: 28px; } }

.page-subtitle {
  font-family: "PT Serif", serif;
  font-size: 18px;
  margin-bottom: 22px; }
  @media (max-width: 700px) {
    .page-subtitle {
      font-size: 18px; } }

.results {
  padding-top: 36px; }

.result {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px; }
  .result__name {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    padding-right: 12px;
    z-index: 1;
    transition: .4s ease; }
    .result__name:hover {
      cursor: pointer;
      color: #808080; }
  .result__line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #808080;
    position: absolute; }
  .result__count {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    padding-left: 12px;
    z-index: 1; }

.shaper-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #808080; }

.shaper-entries {
  max-height: 400px;
  overflow: scroll; }

.shaper-entry {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 48px; }
  .shaper-entry--list {
    justify-content: space-between; }

.email-entry {
  font-family: "PT Serif", serif;
  font-size: 18px; }
  .email-entry--sm {
    font-size: 14px; }

.scroll-down {
  margin-top: 36px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: .5px;
  font-size: 12px; }
  .scroll-down span {
    margin-bottom: 6px; }

.back-button {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: .5px;
  font-size: 12px; }
  .back-button:hover {
    cursor: pointer; }
  .back-button span {
    margin-left: 6px; }

button {
  margin-top: 22px;
  height: 45px;
  font-size: 16px;
  width: 240px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  transition: .2s ease; }
  button:hover {
    cursor: pointer;
    opacity: 0.8; }
  button:focus {
    outline: none; }

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 600px) {
    .button-container {
      flex-direction: column;
      align-items: flex-start; } }

.winner {
  color: #0E7824;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px; }
  @media (max-width: 600px) {
    .winner {
      margin-top: 22px; } }

.add-to-list {
  margin-top: 14px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .add-to-list input {
    -webkit-appearance: none;
    border: none;
    height: 42px;
    width: 45%;
    border-bottom: 2px solid #E6281F;
    font-size: 16px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    border-radius: 0px !important; }
    .add-to-list input:focus {
      outline: none; }
  .add-to-list a {
    font-size: 16px;
    font-family: "Roboto", sans-serif; }
    .add-to-list a:hover {
      opacity: 0.8; }
